---
import type { MarkdownInstance } from "astro";
import type { Frontmatter } from "../../pages/blog.astro";
import Post from "./Post.astro";
interface Props {
  posts: MarkdownInstance<Frontmatter>[];
}

const { posts } = Astro.props;
---

<div>
  {
    posts.map((p) => (
      <div class="item">
        <Post
          title={p.frontmatter.title}
          url={p.url!}
          createdAt={p.frontmatter.createdAt}
          summary={p.frontmatter.summary}
        />
      </div>
    ))
  }
</div>

<style>
  /* 区切り線を入れる */
  .item {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
  }
</style>
