---
import "../../data/books.json";
import type { State } from "../../data/books.json";

interface Props {
  state: State | null;
}

const { state } = Astro.props;
---

<div class="tags">
  <div>状態{" : "}</div>
  {
    ["読了", "読書中", "積読"].map((v) => (
      <>
        <input type="radio" name="state" value={v} class="state" id={v} checked={state && state === v} />
        <label for={v} class="state">
          {v}
        </label>
      </>
    ))
  }
</div>

<script>
  const $inputs = document.getElementsByName("state") as NodeListOf<HTMLInputElement>;
  const $checked: HTMLInputElement | undefined = [...$inputs].find((input) => input.checked);
  $inputs.forEach((input) => {
    input.addEventListener("click", (e) => {
      const target = e.target as HTMLInputElement;
      const currentURL = new URL(window.location.href);
      if ($checked && $checked.value === target.value) {
        currentURL.searchParams.delete("state");
      } else {
        currentURL.searchParams.set("state", target.value);
      }
      window.location.href = currentURL.toString();
    });
  });
</script>

<style>
  .tags {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0.5rem 0;
    padding-left: 1rem;
  }
  .state {
    padding: 0.2rem 0.5rem;
    background-color: #f0f0f0;
    border-radius: 0.5rem;
  }
  input {
    display: none;
  }
  input[value="読了"]:checked + label {
    background-color: #effde7;
  }
  input[value="読書中"]:checked + label {
    background-color: #fff8e1;
  }
  input[value="積読"]:checked + label {
    background-color: #ffe8e9;
  }
</style>
