---
import type { MarkdownInstance } from "astro";
import Layout from "../layouts/Layout.astro";
import PostList from "../components/blogs/PostList.astro";
export interface Frontmatter {
  title: string;
  createdAt: string;
}
const posts = await Astro.glob<MarkdownInstance<Frontmatter>>("./posts/*");
---

<Layout title="blog">
  <h1>Blog</h1>
  <PostList posts={posts.sort((a, b) => (a.frontmatter.createdAt < b.frontmatter.createdAt ? 1 : -1))} />
</Layout>
