---
import Book from "../components/books/Book.astro";
import Layout from "../layouts/Layout.astro";
import data from "../data/books.json";
import StateRadio from "../components/books/StateRadio.astro";
import type { State } from "../data/books.json";

const state = Astro.url.searchParams.get("state") as State | null;
const tag = Astro.url.searchParams.get("tag") as string | null;

const filterState = (v: string) => !state || state === v;
const filterTags = (vs: string[]) => !tag || vs.includes(tag);

export const prerender = false;
---

<Layout title="books">
  <h1>Books</h1>
  <div class="content">
    <StateRadio state={state} />
    {
      data
        .filter((book) => filterState(book.state) && filterTags(book.tags))
        .map((book) => (
          <div class="item">
            <Book book={book} />
          </div>
        ))
    }
  </div>
</Layout>

<style>
  h1 {
    margin-left: 1rem;
  }
  .state {
    padding: 0.2rem 0.5rem;
    background-color: #f0f0f0;
    border-radius: 0.5rem;
  }
  label {
    cursor: pointer;
  }
  .item {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
  }
</style>
