---
import Layout from "../layouts/Layout.astro";
---

<Layout title="hamao">
  <h1>hamao</h1>
  <h2>About</h2>
  <div>
    <table>
      <tr>
        <th>名前 </th>
        <td>hamao/はまお</td>
      </tr>
      <tr>
        <th>生年月日</th>
        <td>2002/08/20</td>
      </tr>
      <tr>
        <th>年齢</th>
        <td>22</td>
      </tr>
      <tr>
        <th>職業</th>
        <td>学生</td>
      </tr>
      <tr>
        <th>所属</th>
        <td>名古屋大学理学部数理学科 4年</td>
      </tr>
    </table>
  </div>
  <h2>自己紹介</h2>
  <div>
    <p>はまおです。よろしくお願いします。</p>
    <p>プログラミングは大学に入って始めました。</p>
    <p>来年からは名古屋大学大学院情報学研究科数理情報学専攻に所属します。</p>
  </div>
  <h2>リンク</h2>
  <div>
    <ul>
      <li><a href="https://twitter.com/hamao_0820" target="_blank">Twitter</a></li>
      <li><a href="https://github/hamao" target="_blank">GitHub</a></li>
      <li><a href="https://zenn.dev/hamao" target="_blank">Zenn</a></li>
      <li><a href="https://atcoder.jp/users/hamao" target="_blank">AtCoder</a></li>
    </ul>
  </div>
</Layout>
