---
import Layout from "../layouts/Layout.astro";
import Links from "../components/index/Links.astro";
import Logo from "../components/index/Logo.astro";
import Table from "../components/index/Table.astro";
import Profile from "../components/index/Profile.astro";
---

<Layout title="hamao">
  <h1>
    <Logo /><span class="title">hamao</span>
  </h1>
  <h2>プロフィール</h2>
  <Table />
  <h2>自己紹介</h2>
  <Profile />
  <h2>リンク</h2>
  <Links />
</Layout>

<style>
  h1 {
    display: flex;
    align-items: center;
    margin: 1rem;
  }
  .title {
    margin-left: 1rem;
  }
  h2 {
    margin: 1rem;
  }
</style>
