---
import Work from "../components/works/Work.astro";
import Layout from "../layouts/Layout.astro";
import AtcoderMemo from "../images/works/atcoder-memo.png";
import Sortvis from "../images/works/sortvis.png";
import YtMusicSpeedNormalizer from "../images/works/yt-music-speed-normalizer.png";
---

<Layout title="works">
  <h1>Works</h1>
  <div>
    <Work title="hamaoの競プロメモ" thumbnail={AtcoderMemo.src} url="https://atcoder-memo.hamao.dev/">
      <p>競技プログラミングのメモをまとめたサイトです。</p>
      <p><a href="https://nextra.site/" target="_blank">Nextra</a>を使って開発しています。</p>
      <p>工夫した点としては、URLに対して自動でOGP画像が生成されるようになっています。</p>
    </Work>
    <Work title="sortvis" thumbnail={Sortvis.src} url="https://github.com/hamao0820/sortvis">
      <p>ソートアルゴリズムの可視化ツールです。</p>
      <p>詳しくは<a href="https://zenn.dev/hamao/articles/3381417748e1a7" target="_blank">記事</a>をご覧ください。</p>
    </Work>
    <Work
      title="yt-music-speed-normalizer"
      url="https://chromewebstore.google.com/detail/yt-music-speed-normalizer/abaighcbljaoplemacfnfendgobcmkhn"
      thumbnail={YtMusicSpeedNormalizer.src}
    >
      <p>YouTubeで音楽を再生するときに、自動で再生速度を標準に戻してくれるChrome拡張です。</p>
    </Work>
  </div>
</Layout>
