---

---

<header>
  <ul>
    <li>
      <a href="/">home</a>
    </li>
    <li>
      <a href="/works">works</a>
    </li>
    <li>
      <a href="/blog">blog</a>
    </li>
    <li>
      <a href="/about">about</a>
    </li>
    <li>
      <a href="/books">books</a>
    </li>
  </ul>
</header>

<style>
  header {
    display: flex;
    justify-content: end;
  }
  ul {
    display: flex;
    gap: 1rem;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: black;
  }
</style>
