---

---

<div>
  <p>はまおです。よろしくお願いします。</p>
  <p>現在は名古屋大学理学部数理学科所属ですが、来年からは名古屋大学大学院情報学研究科数理情報学専攻に所属します。</p>
  <p>プログラミングは大学に入って始めました。最近は主にGo言語でAtCoderに参加しています。</p>
</div>

<style>
  p {
    margin: 1rem;
  }
</style>
