---
import Footer from "../components/layout/Footer.astro";
import Header from "../components/layout/Header.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="hamao's portfolio" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="hamao" />
    <meta property="og:title" content="hamao's portfolio" />
    <meta property="og:description" content="hamao's portfolio" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://portfolio.hamao.dev/" />
    <meta property="og:image" content="/logo.png" />
    <meta property="og:site_name" content="hamao's portfolio" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="hamao's portfolio" />
    <meta name="twitter:description" content="hamao's portfolio" />
    <meta name="twitter:image" content="/logo.png" />
    <title>{title}</title>
  </head>
  <body>
    <div class="wrapper">
      <Header />
      <div class="content">
        <slot />
      </div>
      <Footer />
    </div>
  </body>

  <style is:global>
    html,
    body {
      margin: 0;
      padding: 0;
    }
    html {
      height: 100%;
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
    html::-webkit-scrollbar {
      display: none;
    }
    body {
      height: 100%;
    }
    .wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  </style>
  <style>
    .content {
      margin-top: 3rem;
      flex: 1;
    }
  </style>
</html>
