---
import Layout from "./Layout.astro";
import type { Frontmatter } from "../pages/blog.astro";
interface Props {
  frontmatter: Frontmatter;
}

const {
  frontmatter: { title, createdAt },
} = Astro.props;
---

<Layout title={title}>
  <h1>{title}</h1>
  <p class="created-at">{createdAt}</p>
  <div class="content">
    <slot />
    <a href="/blog"> 一覧に戻る </a>
  </div>
</Layout>

<style>
  h1 {
    margin-left: 1rem;
  }
  .content {
    padding: 1rem;
  }
  .created-at {
    margin-left: 1rem;
    font-size: 0.8rem;
    color: gray;
  }
</style>
